<div class="print:hidden">

    <div class="border-b border-gray-200 dark:border-gray-600 my-4"></div>

    <!-- giscus comments -->
    <script src="https://giscus.app/client.js"
            data-repo="liamcottle/blog.liamcottle.com"
            data-repo-id="R_kgDOHWZ43w"
            data-category="Announcements"
            data-category-id="DIC_kwDOHWZ4384CgJUl"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="0"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>

</div>
