<nav class="shadow print:shadow-none print:border-b print:border-gray-200 fixed top-0 left-0 right-0 bg-theme">
    <div class="max-w-3xl mx-auto px-6">
        <div class="relative flex justify-between h-16">
            <div class="flex-1 flex items-stretch justify-start">

                <a href="{{ site.url | relative_url }}" class="flex-shrink-0 flex items-center font-medium">
                    <img class="rounded-full w-8 h-8 mr-3" src="{{ site.author.avatar | relative_url }}">
                    <div>
                        <h1>{{ site.title }}</h1>
                        {% if site.subtitle != nil %}
                        <h2 class="text-xs text-gray-600">{{ site.subtitle }}</h2>
                        {% endif %}
                    </div>
                </a>

                <div class="ml-auto flex space-x-2 print:hidden">

                    <button id="theme-toggle" type="button" class="text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300 inline-flex items-center px-1 pt-1 text-sm font-medium">
                        <svg id="theme-toggle-dark-icon" class="w-5 h-5 hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                        </svg>
                        <svg id="theme-toggle-light-icon" class="w-5 h-5 hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path>
                        </svg>
                    </button>

                    <a href="{{ '/feed.xml' | relative_url }}" class="text-orange-500 hover:text-orange-600 dark:text-gray-400 dark:hover:text-gray-300 inline-flex items-center px-1 pt-1 text-sm font-medium">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z" />
                        </svg>
                        <span class="hidden sm:block ml-2">Atom Feed</span>
                    </a>

                </div>

            </div>
        </div>
    </div>
</nav>