{% if site.google_analytics_measurement_id != nil %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_measurement_id }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics_measurement_id }}');
</script>
{% endif %}

<!-- tooltips -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script type="text/javascript">
    tippy('[data-toggle="tooltip"]', {
        content(element) {
            return element.getAttribute('data-title');
        },
    });
</script>

<!-- theme -->
<script type="text/javascript">

    var themeToggleButton = document.getElementById('theme-toggle');
    var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
    var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

    function useLightTheme() {
        document.documentElement.classList.remove('dark');
        themeToggleDarkIcon.classList.remove('hidden');
        themeToggleLightIcon.classList.add('hidden');
        localStorage.setItem('theme', 'light');
    }

    function useDarkTheme() {
        document.documentElement.classList.add('dark');
        themeToggleDarkIcon.classList.add('hidden');
        themeToggleLightIcon.classList.remove('hidden');
        localStorage.setItem('theme', 'dark');
    }

    function toggleTheme() {
        if(prefersDarkTheme()){
            useLightTheme();
        } else {
            useDarkTheme();
        }
    }

    // toggle theme on click
    themeToggleButton.addEventListener('click', function() {
        toggleTheme();
    });

    // set preferred theme (after page loads to update button state)
    if(prefersDarkTheme()){
        useDarkTheme();
    } else {
        useLightTheme();
    }

</script>