{% if site.google_analytics_measurement_id != nil %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_measurement_id }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics_measurement_id }}');
</script>
{% endif %}

{% if site.hitsteps_tracking_id != nil %}
<!-- Hitsteps TRACKING CODE - Manual 2024-05-15 - DO NOT CHANGE -->
<script type="text/javascript">(function(){var hstc=document.createElement('script'); hstc.src='https://edgecdn.dev/code?code={{ site.hitsteps_tracking_id }}';hstc.async=true;var htssc = document.getElementsByTagName('script')[0];htssc.parentNode.insertBefore(hstc, htssc);})();
</script><noscript><a href="http://www.hitsteps.com/"><img src="//edgecdn.dev/code?mode=img&amp;code={{ site.hitsteps_tracking_id }}" alt="web stats" width="1" height="1" />visitor activity monitoring</a></noscript>
<!-- Hitsteps TRACKING CODE - DO NOT CHANGE -->
{% endif %}

<!-- tooltips -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script type="text/javascript">
    tippy('[data-toggle="tooltip"]', {
        content(element) {
            return element.getAttribute('data-title');
        },
    });
</script>

<!-- theme -->
<script type="text/javascript">

    var themeToggleButton = document.getElementById('theme-toggle');
    var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
    var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

    function useLightTheme() {
        document.documentElement.classList.remove('dark');
        themeToggleDarkIcon.classList.remove('hidden');
        themeToggleLightIcon.classList.add('hidden');
        localStorage.setItem('theme', 'light');
    }

    function useDarkTheme() {
        document.documentElement.classList.add('dark');
        themeToggleDarkIcon.classList.add('hidden');
        themeToggleLightIcon.classList.remove('hidden');
        localStorage.setItem('theme', 'dark');
    }

    function toggleTheme() {
        if(prefersDarkTheme()){
            useLightTheme();
        } else {
            useDarkTheme();
        }
    }

    // toggle theme on click
    themeToggleButton.addEventListener('click', function() {
        toggleTheme();
    });

    // set preferred theme (after page loads to update button state)
    if(prefersDarkTheme()){
        useDarkTheme();
    } else {
        useLightTheme();
    }

    /* we want to force light theme when printing */

    var didChangeThemeForPrint = false;

    window.onbeforeprint = function() {
        if(prefersDarkTheme()){
            didChangeThemeForPrint = true;
            useLightTheme();
        }
    };

    window.onafterprint = function() {
        if(didChangeThemeForPrint){
            useDarkTheme();
            didChangeThemeForPrint = false;
        }
    };

</script>

<!-- scroll progress -->
<script>

    function getScrollPercentage() {
        var element = document.documentElement;
        var body = document.body;
        var scrollTop = 'scrollTop';
        var scrollHeight = 'scrollHeight';
        return (element[scrollTop]||body[scrollTop]) / ((element[scrollHeight]||body[scrollHeight]) - element.clientHeight) * 100;
    }

    document.addEventListener("scroll", function() {
        var progressBar = document.getElementById("progress-bar");
        if(progressBar){
            var scrollPercentage = getScrollPercentage();
            progressBar.style.width = scrollPercentage + "%";
        }
    });

</script>