---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .bg-theme {
        @apply bg-white dark:bg-gray-700;
    }

    h1, h2 {
        @apply text-black dark:text-white;
    }

    .link {
        @apply underline underline-offset-4 font-semibold break-all text-gray-700 decoration-gray-300 hover:decoration-gray-500 dark:text-white dark:decoration-gray-400 dark:hover:decoration-gray-300;
    }

    /* all direct children of posts */
    .post > * {
        @apply mb-4;
    }

    /* all direct children of posts that are not highlighted by rouge */
    .post > *:not(.highlighter-rouge){
        @apply text-black dark:text-white;
    }

    /* all h1 in a post */
    .post h1 {
        @apply text-xl font-bold;
    }

    /* all h2 in a post */
    .post h2 {
        @apply text-lg font-bold;
    }

    /* all links in a post */
    .post a {
        @apply link;
    }

    /* all code blocks that are not inside a parent with .highlighter-rouge class as they are already highlighted by rouge */
    code:not(.highlighter-rouge code){
        @apply text-sm px-1 py-0.5 rounded bg-gray-200 dark:bg-gray-500;
    }

    .post figure.highlight {
        @apply p-2 rounded bg-gray-200 dark:bg-gray-500;
    }

    .post ul {
        @apply list-disc ml-4;
    }

    .post img {
        @apply rounded-lg mb-4 shadow bg-gray-200 dark:bg-gray-500;
    }

    blockquote {
        @apply border-l-4 pl-3 border-gray-400 dark:border-gray-500;
    }

    /* dont allow preformatted content to overflow off screen */
    pre {
        @apply overflow-x-scroll p-3;
    }

    /* force preformatted content to wrap in print mode */
    @media print {
        pre {
            text-wrap: wrap;
            white-space: pre-wrap;
        }
    }

}
